
@{
    ViewData["Title"] = "ATM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h2>SafeNet Consulting Problem</h2>
    <hr />
    <div> Goal: </div>
    <div> To create a cash machine (ATM) program in C# which has been given as the technical portion of interviews.</div>
    <div> Focus: </div>
    <div> To practice writing clean code and commenting in the C# language.</div>
    <div>Team Members: </div>
    <div>Individual Project.</div>
    <div>NO LINK</div>
    <!--<a href="https://github.com/ZachKubinski/FileIO.git"> LINK </a>-->
    <hr />
    <div class="container-fluid">
        <div class="col-lg-6">
            <h3>Directions: </h3>
            <div>
                <!-- Modal Button -->
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">SafeNet Consulting Problem - C#</button>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal Content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">SafeNet Consulting Problem - C#</h4>
                            </div>
                            <div class="modal-body">
                                <p>Directions go here!</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h3>Test Cases:  </h3>
            <img class="img-responsive" src="~/images/ATMConsole.JPG" />
        </div>
    </div>
</div>