
@{
    ViewData["Title"] = "FileIO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>File I/O</h2>
    <hr />
    <div> Goal: </div>
    <div> To create a simple File I/O program using C# to display numbers (0-50) with various properties.</div>
    <div> Focus: </div>
    <div> To practice good source control techniques and work as a team with Github and GitKraken.</div>
    <div>Team Members: </div>
    <div>Billy Huang, Emily Cebasek, Kevin Adams, and Thomas Harmeyer.</div>
    <div>GitHub Repository Link: </div>
    <a href="https://github.com/ZachKubinski/FileIO.git"> LINK </a>
    <hr />
    <div class="container-fluid">
        <div class="col-lg-6">
            <h3>C# Console Application Output: </h3>
            <img class="img-responsive" src="~/images/FileIOConsole.JPG"/>
        </div>
        <div class="col-lg-6">
            <h3>GitHub Source Control through GitKraken: </h3>
            <img class="img-responsive" src="~/images/FileIOGitKraken.JPG" />
        </div>
    </div>
    <div class="flip">Reflection: </div>
    <div class="panel">
        REFLECTION
    </div>
</div>


