
@{
    ViewData["Title"] = "FileIO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>File I/O</h2>
    <hr />
    <div> Goal: </div>
    <div> To create a simple File I/O program using C# to display numbers (0-50) with various attributes.</div>
    <div> Focus: </div>
    <div> To practice good source control techniques and work as a team with Github and GitKraken.</div>
    <div>Team Members: </div>
    <div>Billy Huang, Emily Cebasek, Kevin Adams, and Thomas Harmeyer.</div>
    <hr />
    <div class="container-fluid">
        <div class="col-lg-6">
            <img class="img-responsive" src="~/images/FileIOConsole.JPG"/>
        </div>
        <div class="col-lg-6">

        </div>

    </div>
</div>


