
@{
    ViewData["Title"] = "FileIO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="viewTitle">File I/O</div>
    <hr />
    <div class="viewHeader"> Goal: </div>
    <div class="viewBody"> To create a simple File I/O program using C# to display numbers (0-50) with various properties.</div>
    <div class="viewHeader"> Focus: </div>
    <div class="viewBody"> To practice good source control techniques and work as a team with Github and GitKraken.</div>
    <div class="viewHeader">Team Members: </div>
    <div class="viewBody">Billy Huang, Emily Cebasek, Kevin Adams, and Thomas Harmeyer.</div>
    <div class="viewHeader">GitHub Repository: </div>
    <a type="button" class="btn btn-info btn-md" href="https://github.com/ZachKubinski/FileIO.git"> LINK </a>
    <hr />
    <div class="container-fluid">
        <div class="col-lg-6">
            <h3>C# Console Application Output: </h3>
            <img class="img-responsive" src="~/images/FileIOConsole.JPG" />
        </div>
        <div class="col-lg-6">
            <h3>GitHub Source Control through GitKraken: </h3>
            <img class="img-responsive" src="~/images/FileIOGitKraken.JPG" />
        </div>
    </div>
    <hr />
    <div class="flip btn btn-info btn-md">Reflection: </div>
    <div class="panel">
        <pre class="reflection">
This activity proved to be a useful way to practice source control with group dynamics early during the Full Stack 
Summer Camp. It took us a couple cycles of branching off from dev and merging back into dev to become comfortable 
with the process. I believe our team worked well dividing up work and completing that work as well in a timely 
manner. This exercise was great for practicing teamwork, patience, and other soft skills required when working in 
groups. Although our group created a Trello board, we did not take advantage of the tool as much as we could of. 
The project was small and made using the Trello board feel less useful than it would be in a larger project with 
more moving parts.
        </pre>
    </div>
</div>


