
@{
    ViewData["Title"] = "FinalProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="container-fluid">
            <h2>Final Project - The Inheritance</h2>
            <hr />
            <div> Goal: </div>
            <div> To create a client side website for converting between various units of measure.</div>
            <div> Focus: </div>
            <div> To practice using HTML, CSS, JavaScipt with Bootstrap and Vue front end frameworks to create a client side website</div>
            <div>Team Members: </div>
            <div>Emily Cebasek, and Kevin Adams.</div>
            <div>GitHub Repository Link: </div>
            <a href="https://github.com/ZachKubinski/TheInheritance.git"> LINK </a>
            <hr />
    </div>
    <div>
        <!-- Modal Button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Final Project - MCV</button>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal Content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Final Project - MCV</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            DIRECTIONS
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-lg-6">
            <h3>Mockup using Moqup: </h3>
            <img class="img-responsive" src="~/images/UnitConverterMockup.png" />
        </div>
        <div class="col-lg-6">
            <h3>Style Tile: </h3>
            <img class="img-responsive" src="~/images/UnitConverterStyleTile.JPG" />
        </div>
    </div>
    <div class="container-fluid">
        <div class="flip">Reflection - Client Side: </div>
        <div class="panel">
            REFLECTION
        </div>
    </div>
</div>

