
@{
    ViewData["Title"] = "FinalProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="viewTitle">Final Project - The Inheritance</div>
        <hr />
        <div class="viewHeader"> Goal: </div>
        <div class="viewBody"> To create a client side website for converting between various units of measure.</div>
        <div class="viewHeader"> Focus: </div>
        <div class="viewBody"> To practice using HTML, CSS, JavaScipt with Bootstrap and Vue front end frameworks to create a client side website</div>
        <div class="viewHeader">Team Members: </div>
        <div class="viewBody">Emily Cebasek, and Kevin Adams.</div>
        <div class="viewHeader">GitHub Repository: </div>
        <a type="button" class="btn btn-info btn-md" href="https://github.com/ZachKubinski/TheInheritance.git" > LINK </a>
        <hr />
    </div>
    <div>
        <div class="container-fluid">
            <h3>Directions: </h3>
            <!-- Modal Button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Final Project - MCV</button>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal Content-->
                    <div class="modal-content" style="width:760px; margin-left: -13.5%;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Final Project - MCV</h4>
                        </div>
                        <div class="modal-body">
                            <pre class="reflection">
You have recently inherited a cardboard box making company. The company has 
been losing money due to massive inefficiencies in it's inventory system. As 
a member of the digital age, you decide to create a full stack application 
to keep track of your box inventory and save your company. As help to get you 
started on your application you enlist the help of the smartest/only software 
developer you know, Mr. B. He has taken the time to look over the mess that 
is your warehouse and derived the following data model:

Box Inventory:
    Weight
    Volume
    Can it hold liquid
    Cost
    How many in inventory

Mr. B has taken the time to create a starter project including the data model
and necessary migrations. Your team's job is to finish the full stack 
application. Your application needs to be able to create, edit, and delete Box 
types. In addition, your application needs to include search options for your 
inventory. Lastly, the application needs to look good and provide an easy to 
use UI.
                        </pre>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-lg-6">
                <h3>Mockup using Moqup: </h3>
                <img class="img-responsive" src="~/images/UnitConverterMockup.png" />
            </div>
            <div class="col-lg-6">
                <h3>Style Tile: </h3>
                <img class="img-responsive" src="~/images/UnitConverterStyleTile.JPG" />
            </div>
        </div>
        <div class="container-fluid">
            <div class="flip btn btn-info btn-md">Reflection - Client Side: </div>
            <div class="panel">
                REFLECTION
            </div>
        </div>
    </div>
</div>
