
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="viewTitle">
        Summer Camp Reflection:
    </div>
    <div class="well">
        <pre class="indexReflection">
The Summer Camp portion of this year’s internship was extremely beneficial compared to last year’s one week learning blitz and the following on the 
job training model of learning. The way teams were randomly grouped nurtured development of the soft skills needed when working in a team. The 
increase in note taking, collaboration and opportunity to learn from those who have experience of the material allowed for increased quality in our
projects and a quick learning arc over 
the three weeks.

One idea for improvement would be using the summer camp as a “project” where our team could have a sprint every week or two. This would allow us to
practice agile development and more specifically scrum when dealing with a multitude of projects. This would also allow for teams to practice with
Trello and foster more use of slack for communication in contrast to resource sharing.

Overall this year’s Summer Camp was a great step up from our model last year and I’m excited to see more refinements to the process in the future.

        </pre>
    </div>
</div>