
@{
    ViewData["Title"] = "UnitConverter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="container-fluid">
        <div class="col-lg-6">
            <h2>Unit Converter - Client Side</h2>
            <hr />
            <div> Goal: </div>
            <div> To create a client side website for converting between various units of measure.</div>
            <div> Focus: </div>
            <div> To practice using HTML, CSS, JavaScipt with Bootstrap and Vue front end frameworks to create a client side website</div>
            <div>Team Members: </div>
            <div>Emily Cebasek, Kevin Adams, and Thomas Harmeyer.</div>
            <div>GitHub Repository Link: </div>
            <a href="https://github.com/ZachKubinski/UnitConverter.git"> LINK </a>
            <hr />
        </div>
        <div class="col-lg-6">
            <h2>Unit Converter - Client Side</h2>
            <hr />
            <div> Goal: </div>
            <div> To create a client side website for converting between various units of measure.</div>
            <div> Focus: </div>
            <div> To practice using HTML, CSS, JavaScipt with Bootstrap and Vue front end frameworks to create a client side website</div>
            <div>Team Members: </div>
            <div>Emily Cebasek, Kevin Adams, and Thomas Harmeyer.</div>
            <div>GitHub Repository Link: </div>
            <a href="https://github.com/ZachKubinski/UnitConverter.git"> LINK </a>
            <hr />
        </div>
    </div>
            <div class="container-fluid">
                <div class="col-lg-6">
                    <h3>GitHub Source Control through GitKraken - Client Side: </h3>
                    <img class="img-responsive" src="~/images/UnitConverterCSGitKraken.JPG" />
                </div>
                <div class="col-lg-6">
                    <h3>GitHub Source Control through GitKraken - Server Side: </h3>
                    <img class="img-responsive" src="~/images/UnitConverterSSGitKraken.JPG" />
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-lg-6">
                    <div class="flip">Reflection - Client Side: </div>
                    <div class="panel">
                        REFLECTION
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="flip2">Reflection: - Server Side: </div>
                    <div class="panel2">
                        REFLECTION
                    </div>
                </div>
            </div>
    </div>

