
@{
    ViewData["Title"] = "UnitConverter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="container-fluid">
        <div class="col-lg-6">
            <h2>Unit Converter - Client Side</h2>
            <hr />
            <div> Goal: </div>
            <div> To create a client side website for converting between various units of measure.</div>
            <div> Focus: </div>
            <div> To practice using HTML, CSS, JavaScipt with Bootstrap and Vue front end frameworks to create a client side website</div>
            <div>Team Members: </div>
            <div>Emily Cebasek, Kevin Adams, and Thomas Harmeyer.</div>
            <div>GitHub Repository Link: </div>
            <a href="https://github.com/ZachKubinski/UnitConverter.git"> LINK </a>
            <hr />
        </div>
        <div class="col-lg-6">
            <h2>Unit Converter - Server Side</h2>
            <hr />
            <div> Goal: </div>
            <div> To refactor our client side application into a server side application.</div>
            <div> Focus: </div>
            <div> To practice using the MVC Framework with Controllers and CSHTML with Razor Code.</div>
            <div>Team Members: </div>
            <div>Emily Cebasek, Kevin Adams, and Thomas Harmeyer.</div>
            <div>GitHub Repository Link: </div>
            <a href="https://github.com/ZachKubinski/UnitConverterMVC.git"> LINK </a>
            <hr />
        </div>
    </div>
    <div>
        <div class="container-fluid">
            <h3>Directions: </h3>
            <!-- Modal Button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Unit Converter Problem - MCV</button>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal Content-->
                    <div class="modal-content" style="width:750px; margin-left: -13.5%;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Unit Converter Problem - MCV</h4>
                        </div>
                        <div class="modal-body">
                            <pre>
As a team, create a wensite for converting between measurement systems. The web pages
should handle the unit conversion on the client side using JavaScript. Create a style tile and a
mockup of your design using digital tools. Present your style tile and mockup to Mr. O. Use
proper source control and workflow practies to build your site. This site/pages should be user
friendly and have more than just a single text box.

Style Tile:
    Web Page(s): Colors and Navigation.
    Text: Font, Text sizes, and Colors.

Mock Up:
    Navigation location, function and how to work unit converters.
                        </pre>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="container-fluid">
            <div class="col-lg-6">
                <h3>Mockup using Moqup: </h3>
                <img class="img-responsive" src="~/images/UnitConverterMockup.png" />
            </div>
            <div class="col-lg-6">
                <h3>Style Tile: </h3>
                <img class="img-responsive" src="~/images/UnitConverterStyleTile.JPG" />
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-lg-6">
                <div class="flip">Reflection - Client Side: </div>
                <div class="panel">
                    <pre>
REFLECTION
                    </pre>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="flip2">Reflection: - Server Side: </div>
                <div class="panel2">
                    <pre>
REFLECTION
                    </pre>
                </div>
            </div>
        </div>
    </div>

